@font-face
{
	font-family: BOG;
	src: url('../resources/BOGNusxuri.woff') format('woff');
	/*src: url(https://login.bog.ge/ibank/style/fonts/BOGNusxuri.woff) format('woff');*/
}

html, body
{
	background: url('../resources/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Exo, BOG;
	font-weight: normal;
}


.inactive 
{
	opacity: 0.3;
}

.newGameScreenWrapper
{
	background: url('../resources/bg.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
}
	.newGameScreen 
	{
		padding: 50px 50px;
		display: flex;
		justify-content: center;
	}

		.newGameScreen > .options
		{
			font-size: 0.8em !important;
			margin: 50px;
			font-size: 1em ;
			padding: 50px;
			background-color: #eee;
		}


		.newGameScreen .buttonsGroup
		{
			margin-top: 50px;
			margin: 0 100px;
			display: flex;
			flex-direction: column;
		}
			.newGameScreen .buttonsGroup > .button
			{

				display: block;
			}
	
.popupWrapper
{
	background-color: rgba(0,0,0,0.6);
	/*opacity: 0.8;*/
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	/*display: flex;*/
	/*justify-content: center;*/
}
	.popup
	{
		min-width: 600px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		padding: 50px;
		background-color: #eee;
	}

		.popup .button
		{
			background-color: #fff;
			float: right;
			font-size: 1em;
			display: inline-block;
			position: relative;
			text-align: center;
			margin: 0px 10px; 
			/*padding-right: 50px;*/
		}

			.popup .button i
			{
				position: absolute;
				right: 10px;
				transform: translate(0%, -50%);
				top:50%;
				font-size: 2em;
				color: #ccc;
			}

.newGame
{
	background-color: #aaa;
	display: absolute;
	width: 100%;
	height: 100%;
}
	
	.flexColumn 
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		padding-right: 350px;
	}
		
		.buttonGroup
		{
			margin: 10px;
			text-align: center;
			margin-bottom: 50px;
		}

			.button
			{
				text-align: center;
				padding: 20px 40px;
				text-decoration: none;
				border-radius: 5px;
				/*border: 1px solid #aaa;*/
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none;   /* Chrome/Safari/Opera */
				-khtml-user-select: none;    /* Konqueror */
				-moz-user-select: none;      /* Firefox */
				-ms-user-select: none;  
				user-select: none;
				font-size: 2em;
				box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
				display: block;
			}

				.button:hover
				{
					background-color: #ddd;
					cursor: pointer;
				}

				.button:active
				{
					background-color: #d5d5d5;

				}

			.buttonGroup > input[type="range"]
			{
				margin: 10px 0;	
			}

.hidden
{
	display: none !important;
}

.placeholder
{
	visibility: hidden;
}

.soundIcon
{
	position: absolute;
	/*right: 50px;*/
	left: 50px;
	top: 50px;
	font-size: 50px;
	color: #ddd;
	cursor: pointer;
	/*transform: rotate(180deg);*/
}

.exitIcon
{
	position: absolute;
	/*right: 50px;*/
	left: 120px;
	top: 50px;
	font-size: 50px;
	color: #ddd;
	cursor: pointer;
	/*transform: rotate(180deg);*/
}

	.disabled
	{
		opacity: 0.3;
		transition: 1s ease;
	}


/*loader*/
.signal {
    border: 3px solid #6f7;
    border-radius: 70px;
    height: 70px;
    opacity: 0;
    width: 70px;
 	/*margin-top: 20px;*/
    animation: pulsate 1s ease;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}

.line
{
	color: #fff;
	opacity: 0.5;
	font-size: 30px;
}
	.line td:first-child
	{
		text-align: right;
		padding: 0;
	}



.flexRow
{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 50px;
}
	.players
	{
		justify-content: space-around;
		height: 200px;
	}

	.player
	{
		margin: 10px 10px;
		/*display: flex;*/
		justify-content: center;
		flex-wrap: wrap;

	}
		.playerStats
		{
			
			margin-bottom: 50px;
			height: 70px;
			display: flex;
			flex-direction: column;
			justify-content: center;

		}
			.playerStats > .avatar
			{
				display: flex;
				justify-content: space-between;
				background-color: #aaa;
				border-radius: 50%;
				width: 120px;
				height: 120px;
				position: absolute;
				border-right: 1px solid #888;
				border-bottom: 1px solid #888;

			}
				.avatar > .actionBtn
				{
					display: flex;
					color: rgba(30,30,30,0.5);
					transform: translateY(30%);
					padding: 5px;
					font-size: 40px;
					cursor: pointer;
					transition: 0.3s ease;
				}
					.avatar > .actionBtn:hover
					{
						color: rgba(30,30,30,0.8);

						transition: 0.3s ease;
					}

			.playerStats > .name
			{
				margin-left: 100px;
				padding: 2px 35px 2px 50px;
				background-color: #ddd;
				font-size: 30px;
				border-top-right-radius: 35px 45px;
				border-right: 1px solid #888;

			}

			.playerStats > .score
			{
				text-align: right;
				margin-left: 100px;
				padding: 2px 35px 2px 50px;
				border-bottom-right-radius: 35px 45px;
				background-color: #eee;
				font-size: 30px;
				color: #777;
				border-bottom: 1px solid #888;
				border-right: 1px solid #888;
			}

				.playerStats > .score:after
				{
					/*content:" ₾";*/
				}

		.playerCards 
		{
			justify-content: center;
			display: flex;
			width: 100%;
		}

			.playerCards > .hisCard
			{

			}
			
			.playerCards > .card
			{
				
				flex-grow: 0;
				margin: 1px 2px;
			}
			.playerCards > .card > .letter
			{
				font-size: 30px ;
				padding: 2px 7px;
			}

			.playerCards > .card > .value
			{
				font-size: 15px;
				padding: 2px;
			}

.gamePanels 
{
	position: absolute;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 300px;
	right: 60px;
	top: 60px;
	z-index: 2;
}

.statistics
{
	margin-top: 50px;
	position: relative;

}


	.timer 
	{
		border-radius: 50%;
		background-color: #eee;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		font-size: 5em;
		width: 150px;
		height: 150px;
 		box-shadow:0px 0px 0px 75px #ddd inset;
	}
		.timer.timerOn60s
		{
 			box-shadow:0px 0px 0px 0px #ddd inset;
 			transition: 60s linear;
		}

		.timer.timerOn40s
		{
 			box-shadow:0px 0px 0px 0px #ddd inset;
 			transition: 40s linear;
		}

		.timer.timerOn30s
		{
 			box-shadow:0px 0px 0px 0px #ddd inset;
 			transition: 30s linear;
		}

		.timer.timerOn5s
		{
 			box-shadow:0px 0px 0px 0px #ddd inset;
 			transition: 5s linear;
		}

	.statistics > .round 
	{
		box-shadow: 5px 5px 30px 5px rgba(0,0,0,0.15);
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		font-size: 50px;
		position: absolute;
		right: -40px;
		top: -40px;
		width: 80px;
		height: 80px;
		background-color: #eee;
		border-radius: 50%;
	}
	.gamePanels  table 
	{
		width: 300px !important;	
		background-color: #eee;
		padding: 20px;
	}

		.gamePanels td,th
		{
			padding: 10px 30px 10px 0;
			text-align: left;
			border-bottom: 1px solid #ccc;
		}

		.gamePanels > .wordlist
		{
			margin-top: 50px;
		}

	.gamePanels .chatbox 
	{
		margin-top: 50px;
		width: 300px !important;
		height: 300px;	
		background-color: #eee;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

		.chatbox .chat 
		{
			width: 100%;
			display: flex;
			flex-shrink: 0;
			background-color: #eee;
		}

		.chatbox input 
		{
			display: flex;
			font-size: 1em;
			color: #555;
			border: none;

		}

			.chatbox input[type=text]
			{
				flex-grow: 1;
			    background: none;
			    padding: 10px;
			}
				input:focus
				{
				    outline: none;
				}

			.chatbox input[type=submit]
			{
				font-size: 1em;
				padding: 10px 10px;
				background-color: #889;
				color: #fff;
			}

				.chatbox input[type=submit]:hover
				{
					cursor: pointer;
					background-color: #778;
				}


		.chatbox #messages 
		{
			line-height: 0px;
			background-color: #fff;
			flex-grow: 1;
			list-style-type: none; margin: 0; padding: 0;
			overflow-y: auto;
		}
			.chatbox #messages .nick
			{
				font-weight: 700;
			}
			.chatbox li
			{
				word-wrap: break-word;
				font-size: 1em;
				padding: 5px 20px;
				background-color: #ddd;
				color: #333;
				line-height: 1.5em;
			}

				.chatbox li span
				{
					color: #000;
				}

				.chatbox li .time
				{
					float: right;
					color: #777;
				}

				.chatbox li.sysmessage
				{
					background-color: #eee;
					color: #aaa;
					text-align: right;
					font-style: italic;
					font-size: 1em;
					padding: 7px 30px;
				}
	
.commonCards
{
	display: flex;
	width: 80%;
	margin:0 0 100px ;
}
	
	

	.card 
	{
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;  
		user-select: none;
		
		box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.15);
		border-radius: 5% 5%; 
		background-color: white;
		flex-grow: 1;
		margin: 5px;
		text-align: center;
		color: #333;
		cursor: pointer;
		transition: 0.2s ease;
	}
		.commonCards > .selected
		{
			opacity: 0.5;
		}
		.commonCards > .card:hover > .value
		{
			background-color: #777;
			color: #eee;
			transition: 0.3s ease;
		}

		.card > .letter
		{

			border-top-left-radius: 5% 5%; 
			border-top-right-radius: 5% 5%; 
			background-color: #eee;
			font-size: 60px;
			padding: 5px 0 15px;
		}

			.commonCards > .card > .letter
			{
				line-height: 100px;
			}

		.card > .value
		{
			border-bottom-left-radius: 5% 5%; 
			border-bottom-right-radius: 5% 5%; 
			background-color: #ccc;
			font-size: 30px;
			padding: 5px 0;
		}


	.playerCards > .card > .letter
	{
		line-height: 1.5em;
	}